# build
_build/

# node_modules
vis/node_modules/

# temporary files
test/tmp/*.csv
test/tmp/*.log
test/tmp/*.mdl
test/tmp/*.mtl
test/tmp/*.mfotl
test/tmp/*.mlog
test/tmp/*.r2u2
test/gen_log
test/gen_fmla
test/gen_fmla_full

# example
examples/all/nokia/all.log

# tools
tools/*.csv
tools/*.log

# third party
third-party/dejavu-online
third-party/monpoly

# tmp
tmp/

# misc
*#*#
*.bc*
*~
*.exe
*.aux
*.txt
*.DS_Store
*.~undo-tree~
*.ocaml
*.opam

# python
*__pycache__*
